@{
    ViewData["Title"] = "Aurelia Navigation Skeleton";
}

  <div aurelia-app="main">
  </div>

<script type="text/javascript" src="/dist/runtime~app.74e2787ea992344001ac.bundle.js"></script><script type="text/javascript" src="/dist/vendors~0ba1d959.74e2787ea992344001ac.chunk.js"></script><script type="text/javascript" src="/dist/vendors~556c66f2.74e2787ea992344001ac.chunk.js"></script><script type="text/javascript" src="/dist/vendors~72fdf3f2.74e2787ea992344001ac.chunk.js"></script><script type="text/javascript" src="/dist/vendors~50e8d500.74e2787ea992344001ac.chunk.js"></script><script type="text/javascript" src="/dist/vendors~5ea1390f.74e2787ea992344001ac.chunk.js"></script><script type="text/javascript" src="/dist/vendors~ecff2e3d.74e2787ea992344001ac.chunk.js"></script><script type="text/javascript" src="/dist/vendors~02227409.74e2787ea992344001ac.chunk.js"></script><script type="text/javascript" src="/dist/vendors~7274e1de.74e2787ea992344001ac.chunk.js"></script><script type="text/javascript" src="/dist/vendors~ec8c427e.74e2787ea992344001ac.chunk.js"></script><script type="text/javascript" src="/dist/app~d0ae3f07.74e2787ea992344001ac.chunk.js"></script>